@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 5s ease infinite;
}
table,th,td
{
    border: 2px groove rgba(255, 107, 248, 0.874);
}

h1{
    color:rgb(210, 15, 136);
    text-align: center;
    text-shadow: 2px 2px 1px rgb(255, 95, 255);
    font-size: 32px;
}
th{
    font-size: 20px;
    color: aquamarine;
    padding-top: 1%;
    padding-bottom: 1%;
}
td{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.94);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
tr td a{
    color: rgb(13, 13, 238);
}
tr td a:hover{
    color: rgb(48, 210, 210);
    background-color: rgb(255, 255, 255);

}